// --- general resets ---
body {
  margin: 0;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  th, td {
    font-size: 100%;
    text-align: left;
  }
}
// ----------------------

// --- generic compact ---
h1, h2, h3, h4, h5, h6 {
  margin: 1ex 0;
}
div, section, nav, main, textarea, input, span {
  box-sizing: border-box;
}
section {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.vpad {
  padding-top: 10px;
  padding-bottom: 10px;
}
.hpad {
  padding-left: 10px;
  padding-right: 10px;
}
a {
  cursor: pointer;
  text-decoration: underline;
}
// -----------------------

body {
  background-color: #FDFDFD;
}

.flash {
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  pointer-events: none; // "none" allows click through to elements underneath

  z-index: 10000;

  span {
    display: inline-block;
    background-color: rgba(0, 0, 0, 75%);
    color: white;
    padding: 5px 8px;
    margin: 3px 6px;
    border-radius: 3px;
    white-space: pre-wrap;
    text-align: left;
    pointer-events: auto; // allow selecting the text of the flash message
  }
}

nav.selector {
  padding: 5px;

  background-color: #DDD;
  border-bottom: 1px solid #BBB;
}

main {
  display: flex;

  nav {
    flex-basis: 240px;
  }
  section {
    flex-grow: 1;
    // this flex-basis is required and sets the minimum width
    flex-basis: 480px;
  }
}

.thumbnails {
  padding: 0 5px;

  background-color: #FAFAFA;
  overflow-y: scroll;
  font-size: 90%;

  .selected {
    background-color: #DDD;
  }
}

// complex pdf-objects
.object, .array, .name, .reference, .number, .string {
  vertical-align: top;
}
.object {
  margin: .2ex .1em;
}
// atomic pdf-objects
.name, .number, .reference, .string {
  display: inline-block;
  margin: .2ex .1em;
  padding: .3ex .2em 0 .2em;
}
.name {
  font-weight: bold;
}
.reference {
  outline: 1px solid #88F;
}
.number {
  font-family: monospace;
  // outline: 1px solid #E81;
}
.string {
  // font-family: monospace;
  white-space: pre-wrap;
  word-break: break-all;
}

.layout {
  display: inline-block;
  margin: 5px 7px;
}
.graphics {
  position: absolute;
  div {
    position: absolute;
  }
  .text {
    white-space: pre;
  }
  .label {
    visibility: hidden;
  }
}
.draw-outlines {
  .graphics {
    outline: 1px solid rgba(100, 50, 50, 0.9); // brown
  }
  // each text span
  .text {
    outline: 1px solid rgba(200, 100, 100, 0.4); // pink
  }
  // generic box
  .box {
    outline: 2px solid rgba(0, 0, 0, 0.5); // gray
    background-color: rgba(0, 0, 0, 0.1);
  }
}
.draw-labels {
  .label {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
  }
}

.paper-body {
  white-space: pre-wrap;
  .citation {
    font-weight: bold;
    color: #00F;
  }
}
.list {
  & > :after {
    content: ', ';
  }
  & > :last-child:after {
    content: '';
  }
}
[authors] > span {
  outline: 1px solid gray;
  padding: 0 2px;
  [title="first"] {
    color: red;
  }
  [title="middle"] {
    color: pink;
  }
  [title="last"] {
    color: darkred;
  }
}

.section {
  .paragraph {
    margin: 1ex 0;
    text-indent: 2em;
  }
  .line {
    font-family: monospace;
    white-space: pre-wrap;
    word-break: break-all;
  }
}

.key-row {
  border-top: 1px solid #AAA;
  & > span {
    padding: 0 5px;
    &:first-child {
      display: inline-block;
      font-weight: bold;
      width: 50px;
    }
  }
}

table {
  td {
    vertical-align: top;
  }

  &.fill {
    width: 100%;
  }
  &.padded tr {
    td, th {
      &:first-child { padding-left: 10px; }
      &:last-child { padding-right: 10px; }
    }
  }
  &.lined tbody {
    td {
      border-top: 1px solid #EEE;
    }
  }
  &.striped tbody {
    tr:nth-child(odd) {
      background-color: #FCFCFC;
    }
    tr:nth-child(even) {
      background-color: #FEFEFE;
    }
  }
}

.right {
  text-align: right;
}
