// --- general resets ---
body {
  margin: 0;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  th, td {
    font-size: 100%;
    text-align: left;
  }
}
// ----------------------

// --- generic compact ---
h1, h2, h3, h4, h5, h6 {
  margin: 1ex 0;
}
div, section, nav, main, textarea, input, span {
  box-sizing: border-box;
}
section {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.vpad {
  padding-top: 10px;
  padding-bottom: 10px;
}
.hpad {
  padding-left: 10px;
  padding-right: 10px;
}
a {
  cursor: pointer;
  text-decoration: underline;
}
// -----------------------

body {
  background-color: #FDFDFD;
}

.flash {
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  pointer-events: none; // "none" allows click through to elements underneath

  z-index: 10000;

  span {
    display: inline-block;
    background-color: rgba(0, 0, 0, 75%);
    color: white;
    padding: 5px 8px;
    margin: 3px 6px;
    border-radius: 3px;
    white-space: pre-wrap;
    text-align: left;
    pointer-events: auto; // allow selecting the text of the flash message
  }
}

nav {
  position: fixed;

  &[fixedflow] {
    top: 0;
    left: 0;
    right: 0;

    z-index: 1000;

    background-color: #DDD;
    border-bottom: 1px solid #BBB;

    padding: 5px;
  }

  &.thumbnails {
    top: 29px;
    left: 0;
    bottom: 0;

    z-index: 100;

    background-color: #FAFAFA;
    width: 200px;
    overflow-y: scroll;
    font-size: 90%;

    .page {
      border-top: 1px solid #B86;
      font-size: 90%;
    }
    .selected {
      background-color: #DDD;
    }
  }
}

// complex pdf-objects
.object, .array, .name, .reference, .number, .string {
  vertical-align: top;
}
.object {
  margin: .2ex .1em;
}
// atomic pdf-objects
.name, .number, .reference, .string {
  display: inline-block;
  margin: .2ex .1em;
  padding: .3ex .2em 0 .2em;
}
.name {
  font-weight: bold;
}
.reference {
  outline: 1px solid #88F;
}
.number {
  outline: 1px solid #E81;
}
.string {
  font-family: monospace;
  white-space: pre-wrap;
  word-break: break-all;
}

.transform-root {
  transform-origin: 0% 0%;
  // we need `display: inline-block` to avoid transform requiring too much width
  display: inline-block;
}

.canvas {
  .page {
    position: absolute;
    div {
      position: absolute;
    }
    .text {
      white-space: pre;
    }
  }
  .label {
    display: none;
  }
  &.outline {
    .page {
      outline: 1px solid rgba(100, 50, 50, 0.9); // brown
    }
    // each text span
    .text {
      outline: 1px solid rgba(200, 100, 100, 0.5); // pink
    }
    // generic box
    .box {
      outline: 2px solid rgba(0, 0, 0, 0.75); // gray
    }
    .label {
      display: inline-block;
    }

    .section {
      .paragraph {
        outline: 1px solid rgba(100, 20, 20, 0.5);
      }
      .line {
        outline: 1px solid rgba(200, 100, 100, 0.5);
      }
    }
  }
}

.section {
  .paragraph {
    margin: 1ex 0;
    text-indent: 2em;
  }
  .line {
    font-family: monospace;
    white-space: pre-wrap;
    word-break: break-all;
  }
}

.key-row {
  border-top: 1px solid #AAA;
  span {
    padding: 0 5px;
    &:first-child {
      display: inline-block;
      font-weight: bold;
      width: 50px;
    }
  }
}
