body{margin:0}
table{border-spacing:0;border-collapse:collapse}
table td,table th{font-size:100%;text-align:left}
h1,h2,h3,h4,h5,h6{margin:1ex 0}
div,input,main,nav,section,span,textarea{box-sizing:border-box}
section{margin-top:5px;margin-bottom:5px;padding-top:5px;padding-bottom:5px}
.vpad{padding-top:10px;padding-bottom:10px}
.hpad{padding-left:10px;padding-right:10px}
a{cursor:pointer;text-decoration:underline}
body{background-color:#FDFDFD}
.flash{position:fixed;left:0;right:0;text-align:center;pointer-events:none;z-index:10000}
.flash span{display:inline-block;background-color:rgba(0,0,0,.75);color:#fff;padding:5px 8px;margin:3px 6px;border-radius:3px;white-space:pre-wrap;text-align:left;pointer-events:auto}
nav{position:fixed}
nav[fixedflow]{top:0;left:0;right:0;z-index:1000;background-color:#DDD;border-bottom:1px solid #BBB;padding:5px}
nav.thumbnails{top:29px;left:0;bottom:0;z-index:100;background-color:#FAFAFA;overflow-y:scroll;font-size:90%}
nav.thumbnails .page{border-top:1px solid #B86;font-size:90%}
nav.thumbnails .selected{background-color:#DDD}
.array,.name,.number,.object,.reference,.string{vertical-align:top}
.object{margin:.2ex .1em}
.name,.number,.reference,.string{display:inline-block;margin:.2ex .1em;padding:.3ex .2em 0 .2em}
.name{font-weight:700}
.reference{outline:1px solid #88F}
.number{font-family:monospace}
.string{white-space:pre-wrap;word-break:break-all}
.transform-root{transform-origin:0 0;display:inline-block}
.canvas-container{position:absolute}
.canvas-container div{position:absolute}
.canvas-container .text{white-space:pre}
.canvas-container .label{display:none}
.canvas-container.outline .graphics{outline:1px solid rgba(100,50,50,.9)}
.canvas-container.outline .text{outline:1px solid rgba(200,100,100,.5)}
.canvas-container.outline .box{outline:2px solid rgba(0,0,0,.75)}
.canvas-container.outline .label{display:inline-block}
.canvas-container.outline .section .paragraph{outline:1px solid rgba(100,20,20,.5)}
.canvas-container.outline .section .line{outline:1px solid rgba(200,100,100,.5)}
.paper-body{white-space:pre-wrap}
.paper-body .citation{font-weight:700;color:#00F}
.list>:after{content:', '}
.list>:last-child:after{content:''}
.section .paragraph{margin:1ex 0;text-indent:2em}
.section .line{font-family:monospace;white-space:pre-wrap;word-break:break-all}
.key-row{border-top:1px solid #AAA}
.key-row>span{padding:0 5px}
.key-row>span:first-child{display:inline-block;font-weight:700;width:50px}
table td{vertical-align:top}
table.fill{width:100%}
table.padded tr td:first-child,table.padded tr th:first-child{padding-left:10px}
table.padded tr td:last-child,table.padded tr th:last-child{padding-right:10px}
table.lined tbody td{border-top:1px solid #EEE}
table.striped tbody tr:nth-child(odd){background-color:#FCFCFC}
table.striped tbody tr:nth-child(even){background-color:#FEFEFE}