<section class="hpad">
  <h3>Text Operations</h3>

  <table class="fill padded striped lined">
    <thead>
      <tr>
        <th>Action</th>
        <th>Argument</th>
        <th>Bytes</th>
        <th>Character Byte Length</th>
        <th>Font Name</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="span in spans">
        <td>{{span.action}}</td>
        <td>{{span.argument}}</td>
        <td>{{span.bytes}}</td>
        <td>{{span.characterByteLength}}</td>
        <td>{{span.fontName}}</td>
      </tr>
    </tbody>
  </table>
</section>
