<section class="hpad">
  <h3>Body</h3>
  <div class="paper-body" ng-bind-html="body | trustHtml"></div>
</section>

<h3 class="hpad">References</h3>
<table class="fill padded striped lined">
  <thead>
    <tr>
      <th>Index</th>
      <th>Authors</th>
      <th>Year</th>
      <th>Title</th>
      <!-- <th>Source</th> -->
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="reference in references">
      <td><i>{{$index}}</i></td>
      <td>
        <span class="list" authors="reference.authors"></span>
      </td>
      <td>{{reference.year}}</td>
      <td>{{reference.title}}</td>
      <!-- <td><code style="font-size: 80%">{{reference.source}}</code></td> -->
    </tr>
  </tbody>
</table>

<h3 class="hpad">Citations</h3>
<table class="fill padded striped lined">
  <thead>
    <tr>
      <th>Index</th>
      <!-- <th>Source</th> -->
      <th>Authors</th>
      <th>Year</th>
      <th>Matched Reference</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="citation in citations track by $index">
      <td><i>{{$index}}</i></td>
      <!-- <td><code style="font-size: 80%">{{citation.source}}</code></td> -->
      <td>
        <span class="list" authors="citation.authors"></span>
      </td>
      <td>{{citation.year}}</td>
      <td>
        <span class="list" authors="citation.reference.authors"></span>
        {{citation.reference.year}}.
        <b>{{citation.reference.title}}</b>.
      </td>
    </tr>
  </tbody>
</table>
