<section class="hpad">
  <div>
    <div>Scale (<output>{{$storage.scale * 100 | number:0}}</output>%)</div>
    <input type="range" min="0.1" max="4.0" step="0.1" list="ticks" ng-model="$storage.scale" style="width: 400px">
    <datalist id="ticks">
      <option ng-repeat="tick in [0.1, 4.1, 0.1] | range">{{tick}}</option>
    </datalist>
  </div>
  <div>
    <label>
      <input type="checkbox" ng-model="$storage.outline"> Show outlines
    </label>
  </div>
  <div>
    <label>
      Minimum Elements: <input type="number" ng-model="$storage.minimumElementsPerLayoutComponent">
      <span ng-if="excludedElements > 0">{{excludedElements}} elements excluded</span>
    </label>
  </div>
</section>

<section class="hpad">
  <div class="canvas-container" ng-class="{outline: $storage.outline}">
    <div ng-style="{transform: 'scale(' + $storage.scale + ')'}" class="transform-root">
      <div class="graphics" ng-style="canvas.outerBounds | rectStyle">
        <div class="label" style="background-color: #222; color: white">{{canvas.outerBounds | rectTuple}}</div>
        <div ng-repeat="container in canvas.layout" ng-if="container.elements.length >= $storage.minimumElementsPerLayoutComponent">
          <div class="box" ng-style="container | rectStyle">
            <div class="label" style="background-color: #222; color: white">{{$index}}</div>
          </div>
          <component name="PDFCanvas" file="file" model="container.elements"></component>
        </div>
      </div>
    </div>
  </div>
  <!-- CSS Transform does not affect document flow, so we add a spacer -->
  <div ng-style="{
    width: ((canvas.outerBounds.maxX - canvas.outerBounds.minX) * $storage.scale | px),
    height: ((canvas.outerBounds.maxY - canvas.outerBounds.minY) * $storage.scale | px)}"></div>
  <!-- <h3>Layout Components</h3>
  <div ng-repeat="container in page.layout" ng-if="container.elements.length >= $storage.minimumElementsPerLayoutComponent">
    <h4>#{{$index}} [{{container | rectString}}] {{container.elements.length}} elements</h4>
    <p>
      <span ng-repeat="element in container.elements track by $index"
        ng-style="{'font-size': (element.fontSize | px)}" ng-bind="element.string"></span>
    </p>
  </div> -->
</section>
