<nav fixedflow>
  <span ng-controller="selectorCtrl">
    <span><b>Load PDF:</b></span>
    <select ng-options="file.name as file.name for file in files" ng-model="selected_file.name" ng-change="select(selected_file.name)">
      <option value="">-- none selected --</option>
    </select>
  </span>
  <span ng-controller="uploadCtrl">
    <span><b>Add PDF:</b></span>
    <input type="file" on-upload="uploadFile($file, $event)">
  </span>
  <span ng-controller="serverCtrl" style="float: right">
    <span><b>Server:</b></span>
    <input ng-model="server" style="width: 200px">
  </span>
</nav>
<!-- the list of pages in the current pdf -->
<nav class="thumbnails">
  <div class="hpad">
    <h5>File size: {{file.size | number}} bytes</h5>
    <a ng-click="openOnHost()">Open on host</a>

    <h4><a ui-sref="pdf.document">Document</a></h4>

    <h3>Trailer</h3>
    <!-- the controller responds with a raw trailer object -->
    <component name="PDFObject" file="file" model="file.trailer"></component>
  </div>

  <!-- the controller responds with raw PDF page objects -->
  <div ng-repeat="page in pages" class="hpad page" ui-sref-active="selected">
    <h4><a ui-sref="pdf.page({pageNumber: $index + 1})">Page {{$index + 1}}</a></h4>
    <component name="PDFObject" file="file" model="page"></component>
  </div>
</nav>
<!-- the current selected page / object -->
<div style="margin-left: 200px; padding: 10px;">
  <ui-view></ui-view>
</div>
